# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Quest-of-the-NPC.iml
# Datasource local storage ignored files
/../../../../../../../../:\Repos\SCHOOL\2022f-team14\Quest-of-the-NPC\.idea\.idea.Quest-of-the-NPC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
